page-check-doctor {

}
.doctor-image{
	width: 100% !important;  
  height : 100% !important;  
  /*control size */
  max-width: 150px !important;  //any size
  max-height: 150px !important; //any size 

  /*control border */
  border: 3.5px solid #999;
  border-radius:150px !important;

  position: relative;
  left:20%;
}