page-home {
	ion-icon{
		font-size:60px;
		color:primary;
	}

	.blue{
		font-size:20px;
		padding-top:25px;
		padding-bottom:25px;
		border-radius:5px;
		color:#ffffff;

	}

	.bg1{
		background:#67d2e4 !important;
	}

	.bg2{
		background:#42c6dd !important;
	}

	.bg3{
		background:#43afdd !important;
	}

	.bg4{
		background:#339cde !important;
	}

	.bg5{
		background:#218cd0 !important;
	}

	.bg6{
		background: #0576bc !important;
	}

}
