page-intro {

	ion-content {
    background-image:url("img/background.jpg");
		background-repeat:no-repeat;
		background-size:cover;

	}

	ion-slide img {
    height: 128px !important;
    width: auto !important;
	}

	.goButton{
		margin-top:40px !important;
	}

	.skipButton{
		text-align:right !important;
		position:absolute;
		right:15px;
		top:15px;
	}
}

 

