page-intro {

	ion-content {
    background-image:url("img/background.jpg");
		background-repeat:no-repeat;
		background-size:cover;

	}

	ion-slide img {
    height: 128px !important;
    width: auto !important;
	}

	button{
		margin-top:40px !important;
	}
}

 

